<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <ul class="list-inline">
          <li>
            <a href="corporate_information.html">Corporate Information</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="privacy_policy.html">Privacy Policy</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="cookie_policy.html">Cookie Policy</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="terms_of_use.html">Terms of Use</a>
          </li>
        </ul>
        <p class="copyright">{{ site.copyright }}</p>
      </div>
      <div class="col-md-5">
        {{ site.credits }}
      </div>
    </div>
  </div>
</footer>
